@if (jobForm) {
  <form [esfsFormGroup]="jobForm">
    <cadrart-card
      class="cadrart-job-form"
      [hasError]="jobForm.status === 'INVALID' && (jobForm.dirty || jobForm.touched)"
      [extended]="extended"
      [managedExtension]="true"
      [duplicatable]="true"
      [deletable]="deletable"
      (cadrartDuplicate)="handleDuplicateClick()"
      (cadrartToggle)="handleToggleClick()"
      (cadrartDelete)="handleDeleteClick()">
      <div cadrartCardTitle class="cadrart-job-form__title">
        <esfs-field
          class="cadrart-job-form__title__item cadrart-job-form__title__count"
          name="count"></esfs-field>
        <cadrart-icon class="cadrart-job-form__title__item cadrart-job-form__title__times" name="close"></cadrart-icon>
        <esfs-field
          class="cadrart-job-form__title__item cadrart-job-form__title__image"
          name="image"></esfs-field>
        <esfs-field
          class="cadrart-job-form__title__item cadrart-job-form__title__orientation"
          name="orientation"></esfs-field>
        <esfs-field
          class="cadrart-job-form__title__item cadrart-job-form__title__description"
          name="description"></esfs-field>
        <div
          class="cadrart-job-form__title__item cadrart-job-form__title__price"
          [innerHTML]="total() | cadrartPrice"></div>
      </div>
      <div cadrartCartExtended>
        <div class="cadrart-job-form__details">
          <table class="cadrart-job-form__details__size">
            <thead>
              <tr>
                <th></th>
                <th>{{ 'OFFER.FORM.AUTO' | translate }}</th>
                <th>{{ 'OFFER.FORM.WIDTH' | translate }}</th>
                <th></th>
                <th>{{ 'OFFER.FORM.HEIGHT' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cadrart-job-form__details__size__opening">
                <th>{{ 'OFFER.FORM.OPENING' | translate }}</th>
                <td>
                  <fieldset [disabled]="autoValue() === 'opening'">
                    <esfs-field name="autoOpening" (change)="handleAutoOpeningChange()"></esfs-field>
                  </fieldset>
                </td>
                <td>
                  <fieldset [disabled]="autoValue() === 'opening'">
                    <esfs-field name="openingWidth"></esfs-field>
                  </fieldset>
                </td>
                <td>&times;</td>
                <td>
                  <fieldset [disabled]="autoValue() === 'opening'">
                    <esfs-field name="openingHeight"></esfs-field>
                  </fieldset>
                </td>
              </tr>
              <tr class="cadrart-job-form__details__size__margin">
                <th>{{ 'OFFER.FORM.MARGIN' | translate }}</th>
                <td>
                  <fieldset [disabled]="autoValue() === 'margin'">
                    <esfs-field name="autoMargin" (change)="handleAutoMarginChange()"></esfs-field>
                  </fieldset>
                </td>
                <td>
                  <fieldset [disabled]="autoValue() === 'margin'">
                    <esfs-field name="marginWidth"></esfs-field>
                  </fieldset>
                </td>
                <td>&times;</td>
                <td>
                  <fieldset [disabled]="autoValue() === 'margin'">
                    <esfs-field name="marginHeight"></esfs-field>
                  </fieldset>
                </td>
              </tr>
              <tr class="cadrart-job-form__details__size__glass">
                <th>{{ 'OFFER.FORM.GLASS' | translate }}</th>
                <td>
                  <fieldset [disabled]="autoValue() === 'glass'">
                    <esfs-field name="autoGlass" (change)="handleAutoGlassChange()"></esfs-field>
                  </fieldset>
                </td>
                <td>
                  <fieldset [disabled]="autoValue() === 'glass'">
                    <esfs-field name="glassWidth"></esfs-field>
                  </fieldset>
                </td>
                <td>&times;</td>
                <td>
                  <fieldset [disabled]="autoValue() === 'glass'">
                    <esfs-field name="glassHeight"></esfs-field>
                  </fieldset>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="cadrart-job-form__details__extras">
            <esfs-field name="measure"></esfs-field>
            <esfs-field name="location"></esfs-field>
            <esfs-field name="dueDate"></esfs-field>
            <esfs-field name="startDate"></esfs-field>
          </div>
        </div>
        <table class="cadrart-job-form__tasks">
          <thead>
            <tr>
              <th class="cadrart-job-form__tasks__indent"></th>
              <th class="cadrart-job-form__tasks__article">Article</th>
              <th class="cadrart-job-form__tasks__subarticle"></th>
              <th class="cadrart-job-form__tasks__comment">Note</th>
              <th class="cadrart-job-form__tasks__image">Image</th>
              <th class="cadrart-job-form__tasks__price">Prix <small>HTVA</small></th>
              <th class="cadrart-job-form__tasks__price">Prix <small>TVAC</small></th>
            </tr>
          </thead>
          <tbody>
            @if (getTasksControl(); as tasksControl) {
              <ng-container formArrayName="tasks">
                @for (taskForm of tasksControl.controls; track taskForm; let i = $index) {
                  <cadrart-task-form
                    [taskForm]="taskForm"
                    [canDelete]="i < tasksControl.controls.length - 1"
                    (cadrartAddSubTask)="handleAddSubTask(i)"
                    (cadrartDelete)="handleDeleteTask(i)"
                  ></cadrart-task-form>
                }
              </ng-container>
            }
          </tbody>
        </table>
      </div>
    </cadrart-card>
  </form>
}
