@let data = tasks | async;
@if (data) {
  <div class="cadrart-tasks cadrart-tasks--assembly">
    <cadrart-table
      [data]="data"
      [keys]="['quantity', 'clientFullName', 'dimensions', 'measure', 'article', 'articles', 'jobImage', 'dueDate', 'actions']"
      headerPrefix="TASKS.LIST"
      [trackBy]="trackBy"
      [consultable]="false"
      [deletable]="false"
      [editable]="false"
      [getRowClass]="getRowClass"
      >
      <td *cadrartTableValueFormatter="'quantity'; let entry">{{ entry.taskDoneCount }} / {{ entry.jobCount }}</td>
      <td *cadrartTableValueFormatter="'dimensions'; let entry">
        <cadrart-job-sizes
          [openingWidth]="entry.jobOpeningWidth"
          [openingHeight]="entry.jobOpeningHeight"
          [marginWidth]="entry.jobMarginWidth"
          [marginHeight]="entry.jobMarginHeight"
          [glassWidth]="entry.jobGlassWidth"
          [glassHeight]="entry.jobGlassHeight"></cadrart-job-sizes>
      </td>
      <td *cadrartTableValueFormatter="'measure'; let entry">{{ 'JOB.MEASURE.' + entry.jobMeasure + '_SHORT' | translate }}</td>
      <td *cadrartTableValueFormatter="'article'; let entry">
        <div>
          {{ entry.articleName }}
          @if (entry.parent) {
            <br />
            <small>({{ entry.parent.articleName }})</small>
          }
        </div>
      </td>
      <td *cadrartTableValueFormatter="'articles'; let entry">
        <ul>
          @for (jobTask of entry.jobTasks; track jobTask.id) {

            <li [class.task__list__task__articles__article--done]="jobTask.jobCount === jobTask.taskDoneCount">
              {{ jobTask.articleName }}
              @if (jobTask.parent && jobTask.parent?.articleName) {
                <br />
                <small>({{ jobTask.parent.articleName}})</small>
              }
            </li>
          }
        </ul>
      </td>
      <td *cadrartTableValueFormatter="'jobImage'; let entry">
        @if (entry.jobImage) {
          <cadrart-image [name]="entry.jobImage" folder="job" size="s" alt="Job Image"></cadrart-image>
        }
        @if (entry.taskImage) {
          <cadrart-image [name]="entry.taskImage" folder="task" size="s" alt="Task Image"></cadrart-image>
        }
      </td>
      <td *cadrartTableValueFormatter="'dueDate'; let entry">{{ entry.jobDueDate | cadrartDate }}</td>
      <td class="cadrart-tasks__actions" *cadrartTableValueFormatter="'actions'; let entry; let expandable=expandable; let isExpanded=isExpanded" [attr.rowspan]="expandable && isExpanded ? 2 : 1">
        <cadrart-actions-group [customActions]="actions" (cadrartCustom)="handleCustomAction($event, entry)"></cadrart-actions-group>
      </td>

      <!-- Expanded content for each row -->
      <div *cadrartTableExpanded="let entry">
        <div class="cadrart-tasks__expanded-content">
          {{ entry.taskComment }}
        </div>
      </div>
    </cadrart-table>
  </div>
}
