@let data = tasks | async;
@if (data) {
  <div class="cadrart-extended-task">
    <cadrart-table
      [data]="data"
      [keys]="['client', 'dimensions', 'measure', 'article', 'comment', 'articles', 'actions']"
      headerPrefix="TASKS_LIST"
      [trackBy]="trackBy"
      [consultable]="false"
      [deletable]="false"
      [editable]="false"
      (cadrartConsult)="handleConsultClick($event)"
      (cadrartEdit)="handleEditClick($event)"
      (cadrartDelete)="handleDeleteClick($event)"
      >
      <td *cadrartTableValueFormatter="'client'; let entry">{{ entry.clientFirstName }} {{ entry.clientLastName }}</td>
      <td *cadrartTableValueFormatter="'dimensions'; let entry">
        {{ entry.jobOpeningWidth }} x {{ entry.jobOpeningHeight }}<br />
          {{ entry.jobMarginWidth }} x {{ entry.jobMarginHeight }}<br />
          {{ entry.jobGlassWidth }} x {{ entry.jobGlassHeight }}
      </td>
      <td *cadrartTableValueFormatter="'measure'; let entry">{{ 'JOB.MEASURE.' + entry.jobMeasure + '_SHORT' | translate }}</td>
      <td *cadrartTableValueFormatter="'article'; let entry">
        <div>
          {{ entry.articleName }}
          @if (entry.articleParentId) {
            <br />
            <small>({{ getParentArticleName(data, entry.articleParentId)}})</small>
          }
        </div>
      </td>
      <td *cadrartTableValueFormatter="'comment'; let entry">{{ entry.taskComment }}</td>
      <td *cadrartTableValueFormatter="'articles'; let entry">
        <ul>
          <li *ngFor="let subTask of getAllTasksForJob(data, entry.jobId)" [class.task__list__task__articles__article--done]="subTask.jobCount === subTask.taskDoneCount">
            {{ subTask.articleName }}
            <br *ngIf="subTask.articleParentId">
            <small *ngIf="subTask.articleParentId">({{ getParentArticleName(data, subTask.articleParentId)}})</small>
          </li>
        </ul>
      </td>
      <td *cadrartTableValueFormatter="'actions'">
        <cadrart-button [iconOnly]="true" icon="block" color="secondary" [outline]="true"></cadrart-button>
        <cadrart-button [iconOnly]="true" icon="play_circle" color="info" [outline]="true"></cadrart-button>
      </td>
    </cadrart-table>
  </div>
}
