@let data = tasks | async;
@if (data) {
  <div class="cadrart-tasks cadrart-tasks--assembly">
    <cadrart-table
      [data]="data"
      [keys]="['quantity', 'dimensions', 'measure', 'article', 'comment', 'articles', 'jobImage', 'taskImage', 'dueDate', 'actions']"
      headerPrefix="TASKS.LIST"
      [trackBy]="trackBy"
      [consultable]="false"
      [deletable]="false"
      [editable]="false"
      (cadrartConsult)="handleConsultClick($event)"
      (cadrartEdit)="handleEditClick($event)"
      (cadrartDelete)="handleDeleteClick($event)"
      >
      <td *cadrartTableValueFormatter="'quantity'; let entry">{{ entry.taskDoneCount }} / {{ entry.jobCount }}</td>
      <td *cadrartTableValueFormatter="'dimensions'; let entry">
        <cadrart-job-sizes
          [openingWidth]="entry.jobOpeningWidth"
          [openingHeight]="entry.jobOpeningHeight"
          [marginWidth]="entry.jobMarginWidth"
          [marginHeight]="entry.jobMarginHeight"
          [glassWidth]="entry.jobGlassWidth"
          [glassHeight]="entry.jobGlassHeight"></cadrart-job-sizes>
      </td>
      <td *cadrartTableValueFormatter="'measure'; let entry">{{ 'JOB.MEASURE.' + entry.jobMeasure + '_SHORT' | translate }}</td>
      <td *cadrartTableValueFormatter="'article'; let entry">
        <div>
          {{ entry.articleName }}
          @if (entry.parent) {
            test
            <br />
            <small>({{ entry.parent.articleName }})</small>
          }
        </div>
      </td>
      <td *cadrartTableValueFormatter="'comment'; let entry">{{ entry.taskComment }}</td>
      <td *cadrartTableValueFormatter="'articles'; let entry">
        <ul>
          @for (jobTask of entry.jobTasks; track jobTask.id) {

            <li [class.task__list__task__articles__article--done]="jobTask.jobCount === jobTask.taskDoneCount">
              {{ jobTask.articleName }}
              @if (jobTask.parent && jobTask.parent?.articleName) {
                <br />
                <small>({{ jobTask.parent.articleName}})</small>
              }
            </li>
          }
        </ul>
      </td>
      <td *cadrartTableValueFormatter="'jobImage'; let entry">
        @if (entry.jobImage) {
          <cadrart-image [name]="entry.jobImage" folder="job" size="s" alt="Job Image"></cadrart-image>
        }
      </td>
      <td *cadrartTableValueFormatter="'taskImage'; let entry">
        @if (entry.taskImage) {
          <cadrart-image [name]="entry.taskImage" folder="task" size="s" alt="Task Image"></cadrart-image>
        }
      </td>
      <td *cadrartTableValueFormatter="'dueDate'; let entry">{{ entry.jobDueDate | cadrartDate }}</td>
      <td class="cadrart-tasks__actions" *cadrartTableValueFormatter="'actions'">
        <div class="cadrart-tasks__actions__group">
          <cadrart-button [iconOnly]="true" icon="open_in_full" color="neutral" [outline]="true"></cadrart-button>
          <cadrart-button [iconOnly]="true" icon="block" color="secondary" [outline]="true"></cadrart-button>
          <cadrart-button [iconOnly]="true" icon="play_circle" color="info" [outline]="true"></cadrart-button>
          <cadrart-button [iconOnly]="true" icon="production_quantity_limits" color="danger" [outline]="true"></cadrart-button>
        </div>
      </td>
    </cadrart-table>
  </div>
}
