@use '../../styles/variables.scss' as *;

.cadrart-pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  cadrart-button {
    margin: 0 2px;
  }

  &__pages {
    margin: 0 $spacing-small;
  }
}
