@use '../../styles/variables.scss' as *;

.cadrart-job-sizes {
  font-size: $font-size-s;
  max-width: 300px;
  line-height: .75;

  &__opening,
  &__margin,
  &__glass {
    border-radius: $border-radius;
    display: flex;
    gap: $spacing-small;
    padding: $spacing-small;

    &__width,
    &__height {
      display: flex;
      align-items: center;
      flex-basis: 50%;
    }

    &__width::after {
      content: '×';
      margin: 0 0 0 $spacing-small;
    }
  }
}
