@if (data$ | async; as data) {
  <div class="cadrart-clients" data-testid="client-section">
    <cadrart-table
      [data]="data"
      [keys]="['name', 'company', 'address', 'mail', 'phone', 'vat', 'reduction', 'tag']"
      [trackBy]="identify"
      [getItemName]="getItemName"
      [consultable]="false"
      (cadrartEdit)="handleEditClick($event)"
      (cadrartDelete)="handleDeleteClick($event)"
      >
      <td *cadrartTableValueFormatter="'name'; let entry">{{ entry?.firstName }} {{ entry?.lastName }}</td>
      <td *cadrartTableValueFormatter="'address'; let entry" [innerHTML]="entry?.address | cadrartAddress"></td>
      <td *cadrartTableValueFormatter="'tag'; let entry">{{ entry?.tag?.name }}</td>
      <td *cadrartTableValueFormatter="'mail'; let entry" [innerHTML]="entry?.mail | cadrartMail"></td>
      <td *cadrartTableValueFormatter="'phone'; let entry">
        <span [innerHTML]="entry?.phone | cadrartPhone"></span>
        @if (entry?.phone && entry?.phone2) {
          <br />
        }
        <span [innerHTML]="entry?.phone2 | cadrartPhone"></span>
      </td>
      <td *cadrartTableValueFormatter="'vat'; let entry">{{ entry?.vat ? entry.vat + '%' : '' }}</td>
    </cadrart-table>
  </div>
}

<ng-template #formTemplate>
  @if (entityFormGroup) {
    <cadrart-client-form [entityFormGroup]="entityFormGroup"></cadrart-client-form>
  }
</ng-template>
