@if (data$ | async; as data) {
  <div class="cadrart-tags" data-testid="tag-section">
    <div class="cadrart-tags__list">
      @for (tag of data; track identify($index, tag)) {
        <cadrart-data-card
          @existanceAnimation
          [title]="getItemName(tag)"
          [consultable]="true"
          [editable]="true"
          [deletable]="true"
          [consultable]="false"
          [inline]="true"
          [compact]="true"
          (cadrartEdit)="handleEditClick(tag)"
          (cadrartDelete)="handleDeleteClick(tag)"
        ></cadrart-data-card>
      }
    </div>
  </div>
}

<ng-template #formTemplate>
  @if (entityFormGroup) {
    <form [esfsFormGroup]="entityFormGroup">
      <esfs-field name="name"></esfs-field>
    </form>
  }
</ng-template>
