@let cls = cls$();
@let type = type$();
@let disabled = disabled$();
@let tabIndex = tabIndex$();
@let icon = icon$();
@let iconPosition = iconPosition$();
@let tag = tag$();
@let loading = loading$();
@let hotKey = hotKey$();

<button
  [type]="type"
  [disabled]="disabled || loading"
  [class]="cls"
  [tabindex]="tabIndex"
  [cadrartHotkey]="hotKey"
  (cadrartHotkeyTrigger)="handleHotKey()"
  (click)="cadrartClick.emit()">
  @if (loading$()) {
    <cadrart-icon name="refresh" class="cadrart-button__loading"></cadrart-icon>
  }
  @if (icon && iconPosition === 'left') {
    <cadrart-icon [name]="icon || 'question_mark'"></cadrart-icon>
  }

  <div class="cadrart-button__content"><ng-content></ng-content></div>

  @if (icon && iconPosition === 'right') {
    <cadrart-icon [name]="icon || 'question_mark'"></cadrart-icon>
  }
  @if (tag) {
    <small class="cadrart-button__tag">{{ tag }}</small>
  }
</button>
