@let clsValue = cls();
@let typeValue = type();
@let disabledValue = disabled();
@let tabIndexValue = tabIndex();
@let iconValue = icon();
@let iconPositionValue = iconPosition();
@let tagValue = tag();

<button
  [class]="clsValue"
  [type]="typeValue"
  [disabled]="disabledValue"
  [tabindex]="tabIndexValue"
  (click)="handleClick()">
  @if (iconValue && iconPositionValue === 'left') {
    <cadrart-icon [name]="iconValue || 'question_mark'"></cadrart-icon>
  }

  <div class="cadrart-button__content"><ng-content></ng-content></div>

  @if (iconValue && iconPositionValue === 'right') {
    <cadrart-icon [name]="iconValue || 'question_mark'"></cadrart-icon>
  }

  @if (tagValue) {
    <small>{{ tagValue }}</small>
  }
</button>
