@if (offerForm) {
  <form class="cadrart-offer-form" [esfsFormGroup]="offerForm">
    <div class="cadrart-offer-form__main">
      <div class="cadrart-offer-form__main__section cadrart-offer-form__main__section--1">
        @if (!offerId) {
          <h1>{{ 'OFFER.FORM.TITLE_NEW' | translate }}</h1>
        }
        @if (offerId) {
          <h1 [innerHTML]="'OFFER.FORM.TITLE' | translate : { number: offerForm.getNumber().value }"></h1>
        }
        <div class="cadrart-offer-form__client-field">
          <esfs-field name="client" (onChange)="handleModelChange()"></esfs-field>
          <cadrart-button icon="add_circle_outline" [iconOnly]="true" (cadrartClick)="handleAddClient()"></cadrart-button>
          <cadrart-button
            icon="history"
            [iconOnly]="true"
            [disabled]="!this.offerForm.get('client')?.value"
            (cadrartClick)="handleClientHistoryClick()"></cadrart-button>
        </div>
        <esfs-field name="assignedTo"></esfs-field>
      </div>
      <div class="cadrart-offer-form__main__section cadrart-offer-form__main__section--2">
        <esfs-field name="adjustedVat" (change)="handleModelChange()"></esfs-field>
        <esfs-field name="adjustedReduction" (change)="handleModelChange()"></esfs-field>
      </div>
    </div>
    <div #jobs class="cadrart-offer-form__jobs">
      <ng-container formArrayName="jobs">
        @for (jobFormEntry of getjobsControl().controls; track jobFormEntry; let i = $index) {
          <cadrart-job-form
            #jobForm
            [jobForm]="jobFormEntry"
            [extended]="extendedJob === i"
            [deletable]="i > 0"
            (modelChange)="handleModelChange()"
            (cadrartDuplicate)="handleJobDuplicate(i)"
            (cadrartToggle)="handleJobToggle(i)"
            (cadrartDelete)="handleJobDelete(i)"></cadrart-job-form>
        }
      </ng-container>
    </div>
  </form>
}

<ng-template #clientFormTemplate>
  @if (clientForm) {
    <cadrart-client-form [entityFormGroup]="clientForm"></cadrart-client-form>
  }
</ng-template>

<ng-template #footerTemplate>
  <div class="cadrart-offer-form__footer">
    <div class="cadrart-offer-form__footer__price">
      <span [innerHTML]="total() | cadrartPrice"></span>&nbsp;<small>HTVA</small>
      <span class="cadrart-offer-form__footer__price__splitter"></span>
      <span [innerHTML]="totalWithVat() | cadrartPrice"></span>&nbsp;<small>TVAC</small>
    </div>

    <div class="cadrart-offer-form__footer__actions">
      <cadrart-button
        icon="add_task"
        color="secondary"
        hotKey="Cmd.s"
        tag="Cmd+S"
        (cadrartClick)="handleSaveAndPlay()"
        [disabled]="offerForm?.status === 'INVALID'">{{ 'OFFER.FORM.START' | translate }}</cadrart-button>
      <cadrart-button
        icon="save"
        hotKey="Alt.s"
        tag="Alt+S"
        [disabled]="offerForm?.status === 'INVALID'"
        (cadrartClick)="handleSave()">{{
        'OFFER.FORM.SAVE' | translate
      }}</cadrart-button>
      </div>
    </div>
  </ng-template>

  <ng-template #clientHistoryTemplate>
    <cadrart-offer-history
      [offers]="clientOffers()"
      (cadrartClick)="handleOfferHistoryClick($event)"></cadrart-offer-history>
  </ng-template>
