@let data = tasks | async;
@if (data) {
  <div class="cadrart-tasks cadrart-tasks--glass">
    <cadrart-table
      [data]="data"
      [keys]="['quantity', 'clientFullName', 'dimensions', 'measure', 'article', 'location', 'jobImage', 'dueDate', 'actions']"
      headerPrefix="TASKS.LIST"
      [trackBy]="trackBy"
      [consultable]="false"
      [deletable]="false"
      [editable]="false"
      [expandable]="true"
      [alwaysExpanded]="true"
      [reduceColspan]="1"
      [shouldShowExpanded]="hasExpandedContent"
      >
      <td *cadrartTableValueFormatter="'quantity'; let entry">{{ entry.taskDoneCount }} / {{ entry.jobCount }}</td>
      <td *cadrartTableValueFormatter="'dimensions'; let entry">
        <cadrart-job-size
          [width]="entry.jobOpeningWidth"
          [height]="entry.jobOpeningHeight"></cadrart-job-size>
      </td>
      <td *cadrartTableValueFormatter="'measure'; let entry">{{ 'JOB.MEASURE.' + entry.jobMeasure + '_SHORT' | translate }}</td>
      <td *cadrartTableValueFormatter="'article'; let entry">
        <div>
          {{ entry.articleName }}
        </div>
      </td>
      <td *cadrartTableValueFormatter="'location'; let entry">{{ entry.articlePlace }}</td>
      <td *cadrartTableValueFormatter="'jobImage'; let entry">
        @if (entry.jobImage) {
          <cadrart-image [name]="entry.jobImage" folder="job" size="s" alt="Job Image"></cadrart-image>
        }
        @if (entry.taskImage) {
          <cadrart-image [name]="entry.taskImage" folder="task" size="s" alt="Task Image"></cadrart-image>
        }
      </td>
      <td *cadrartTableValueFormatter="'dueDate'; let entry">{{ entry.jobDueDate | cadrartDate }}</td>
      <td class="cadrart-tasks__actions" *cadrartTableValueFormatter="'actions'; let entry; let expandable=expandable; let isExpanded=isExpanded" [attr.rowspan]="expandable && isExpanded ? 2 : 1">
        <cadrart-actions-group [customActions]="actions" (cadrartCustom)="handleCustomAction(entry)"></cadrart-actions-group>
      </td>

      <!-- Expanded content for each row -->
      <div *cadrartTableExpanded="let entry">
        <div class="cadrart-tasks__expanded-content">
          {{ entry.taskComment }}
        </div>
      </div>
    </cadrart-table>
  </div>
}
