@if (config) {
  <div class="cadrart-field-orientation">
    <div class="cadrart-field-orientation__input">
      @if (control.value === 1) {
        <cadrart-button
          class="cadrart-field-orientation__input__portrait"
          icon="portrait"
          [iconOnly]="true"
        (cadrartClick)="handleClick()"></cadrart-button>
      }
      @if (control.value === 0) {
        <cadrart-button
          class="cadrart-field-orientation__input__landscape"
          icon="landscape"
          [iconOnly]="true"
        (cadrartClick)="handleClick()"></cadrart-button>
      }
    </div>
  </div>
}
