@import "./variables.scss";

body {
  background-color: $color-background;
  height: 100%;
  overflow-x: hidden;
  color: #fff;
  padding: 0;

  @media print {
    background-color: #fff;
    color: #000;
    padding-top: 1px;
  }
}

[hidden] {
  display: none !important;
}

@page { size: auto;  margin: 0mm; }

@page left {
  size: landscape;
  page-orientation: rotate-left;
}

a {
  color: rgba($color-yellow, 70%);
  transition: color $transition-duration, border-bottom $transition-duration;
  text-decoration: none;
  background-size: 1px 1em;
  border-bottom: 1px solid rgba($color-yellow, 10%);
  display: inline;

  &:hover {
    color: $color-yellow;
    border-bottom: 1px solid rgba($color-yellow, 20%);
  }
}
