@import "./variables.scss";

body {
  background-color: $color-background;
  height: 100%;
  overflow-x: hidden;
  color: #fff;
  padding: 0;

  @media print {
    background-color: #fff;
    color: #000;
    padding-top: 1px;
  }
}

[hidden] {
  display: none !important;
}

@page { size: auto;  margin: 0mm; }

@page left {
  size: landscape;
  page-orientation: rotate-left;
}
