<form [formGroup]="entityFormGroup">
  <cadrart-field formControlName="firstName"></cadrart-field>
  <cadrart-field formControlName="lastName"></cadrart-field>
  <cadrart-field formControlName="company"></cadrart-field>
  <cadrart-field formControlName="address"></cadrart-field>
  <cadrart-field formControlName="mail"></cadrart-field>
  <cadrart-field formControlName="phone"></cadrart-field>
  <cadrart-field formControlName="phone2"></cadrart-field>
  <cadrart-field formControlName="vat"></cadrart-field>
  <cadrart-field formControlName="reduction"></cadrart-field>
  <cadrart-field formControlName="tag"></cadrart-field>
</form>
