<ng-container>
  <div class="cadrart-field">
    <div
      class="cadrart-field__input"
      [class.cadrart-field__input--disabled]="disabled"
      [class.cadrart-field__input--no-label]="!label"
      >
      @if (iconBefore) {
        <cadrart-icon
          class="cadrart-field__input__icon cadrart-field__input__icon--before"
          [name]="iconBefore"
        ></cadrart-icon>
      }
      @if (iconAfter) {
        <cadrart-icon
          class="cadrart-field__input__icon cadrart-field__input__icon--after"
          [name]="iconAfter"
        ></cadrart-icon>
      }
      @if (textAfter) {
        <span class="cadrart-field__input__text-after">{{ textAfter | translate }}</span>
      }
      @if (label) {
        <label>{{ label | translate }}</label>
      }
      <ng-content></ng-content>
    </div>
  </div>
</ng-container>
