@if (finalConfig()) {
  <div
    class="cadrart-field-wrapper"
    [class.cadrart-field-wrapper--has-error]="control.errors && (control.dirty || control.touched)"
    >
    <div class="cadrart-field-wrapper__control">
      @switch (finalConfig().componentType) {
        @case ('checkbox') {
          <cadrart-field-checkbox
            #fld
            [name]="formControlName"
            [form]="form"
            [control]="$any(control)"
            [config]="$any(finalConfig())"
          ></cadrart-field-checkbox>
        }
        @case ('date') {
          <cadrart-field-date
            #fld
            [name]="formControlName"
            [form]="form"
            [control]="$any(control)"
            [config]="$any(finalConfig())"
          ></cadrart-field-date>
        }
        @case ('image') {
          <cadrart-field-image
            #fld
            [name]="formControlName"
            [form]="form"
            [control]="$any(control)"
            [config]="$any(finalConfig())"
          ></cadrart-field-image>
        }
        @case ('number') {
          <cadrart-field-number
            #fld
            [name]="formControlName"
            [form]="form"
            [control]="$any(control)"
            [config]="$any(finalConfig())"
            (cadrartBlur)="handleBlur()"
          ></cadrart-field-number>
        }
        @case ('orientation') {
          <cadrart-field-orientation
            #fld
            [name]="formControlName"
            [form]="form"
            [control]="$any(control)"
            [config]="$any(finalConfig())"
          ></cadrart-field-orientation>
        }
        @case ('select') {
          <cadrart-field-select
            #fld
            [name]="formControlName"
            [form]="form"
            [control]="$any(control)"
            [config]="$any(finalConfig())"
            (cadrartBlur)="handleBlur()"
            (cadrartChange)="handleChange($event)"
          ></cadrart-field-select>
        }
        @case ('text') {
          <cadrart-field-text
            #fld
            [name]="formControlName"
            [form]="form"
            [control]="$any(control)"
            [config]="$any(finalConfig())"
            (cadrartBlur)="handleBlur()"
          ></cadrart-field-text>
        }
        @case ('address') {
          <cadrart-field-address
            #fld
            [name]="formControlName"
            [form]="form"
            [control]="$any(control)"
            [config]="$any(finalConfig())"
            (cadrartBlur)="handleBlur()"
          ></cadrart-field-address>
        }
      }
    </div>
    @if (control.errors && (control.dirty || control.touched)) {
      <div class="cadrart-field-wrapper__error">
        {{ control.errors | cadrartFormError }}
      </div>
    }
  </div>
}
