<div class="cadrart-actions-group">
  <cadrart-button
    *ngIf="deletable"
    [iconOnly]="true"
    icon="delete"
    color="transparent"
    hoverColor="danger"
    (cadrartClick)="handleDeleteClick()"
  ></cadrart-button>
  <cadrart-button
    *ngIf="editable"
    [iconOnly]="true"
    icon="edit"
    color="transparent"
    hoverColor="secondary"
    (cadrartClick)="handleEditClick()"
  ></cadrart-button>
  <cadrart-button
    *ngIf="consultable"
    [iconOnly]="true"
    icon="visibility"
    color="transparent"
    hoverColor="info"
    (cadrartClick)="handleConsultClick()"
  ></cadrart-button>
  <cadrart-button
    *ngIf="duplicatable"
    [iconOnly]="true"
    icon="copy_all"
    color="transparent"
    hoverColor="info"
    (cadrartClick)="handleDuplicateClick()"
  ></cadrart-button>
  <cadrart-button
    class="cadrart-actions-group__extend"
    *ngIf="extendable"
    [iconOnly]="true"
    [icon]="extended ? 'unfold_less' : 'unfold_more'"
    color="transparent"
    hoverColor="info"
    (cadrartClick)="handleToggleClick()"
  ></cadrart-button>
</div>
