@if (data$ | async; as data) {
  <div class="cadrart-providers" data-testid="provider-section">
    <cadrart-table
      [data]="data"
      [keys]="['name', 'address', 'vat', 'iban', 'mail']"
      [trackBy]="identify"
      [getItemName]="getItemName"
      [consultable]="false"
      (cadrartEdit)="handleEditClick($event)"
      (cadrartDelete)="handleDeleteClick($event)"
      >
      <td *cadrartTableValueFormatter="'address'; let entry" [innerHTML]="entry?.address | cadrartAddress: false"></td>
      <td *cadrartTableValueFormatter="'mail'; let entry" [innerHTML]="entry?.mail | cadrartMail"></td>
    </cadrart-table>
  </div>
}

<ng-template #formTemplate>
  @if (entityFormGroup) {
    <form [esfsFormGroup]="entityFormGroup">
      <esfs-field name="name"></esfs-field>
      <esfs-field name="address"></esfs-field>
      <esfs-field name="vat"></esfs-field>
      <esfs-field name="iban"></esfs-field>
      <esfs-field name="mail"></esfs-field>
    </form>
  }
</ng-template>
