cadrart-route-offer-view-display {
  display: contents;
}

cadrart-route-offer-view-print {
  display: none;
}

@media print {
  cadrart-route-offer-view {
    display: contents;
  }
  cadrart-route-offer-view-display {
    display: none;
  }

  cadrart-route-offer-view-print {
    display: contents;
  }
}
