cadrart-route-offer-view-display {
  display: block;
}

cadrart-route-offer-view-print {
  display: none;
}

@media print {
  cadrart-route-offer-view-display {
    display: none;
  }

  cadrart-route-offer-view-print {
    display: block;
  }
}
