@use '../styles/variables.scss' as *;

.cadrart {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media print {
    margin: 1cm;
    height: calc(100vh - 2cm - 1px);
    display: block;
  }
}

.cadrart__page {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0;
  position: relative;

  @media print {
    margin-top: 1cm;
    display: block;
    height: auto;
  }
}

.cadrart__content {
  flex-grow: 1;
  max-height: 100%;
  z-index: $z-index-content;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  padding: $spacing-medium $spacing-large $spacing-large $spacing-medium;

  @media print {
    padding: 0;
    display: block;
  }
}
