@if (data$ | async; as data) {
  <div class="cadrart-team-members" data-testid="team-member-section">
    <div class="cadrart-team-members__list">
      @for (tm of data; track identify($index, tm)) {
        <cadrart-data-card
          @existanceAnimation
      [image]="{
        name: tm.image !== '' ? tm.image : 'default',
        folder: 'team-member'
      }"
          [title]="getItemName(tm)"
          [consultable]="false"
          [editable]="true"
          [deletable]="true"
      [fields]="[
        {
          label: 'FIELD.MAIL.Q' | translate,
          value: tm.mail | cadrartMail
        },
        {
          label: 'FIELD.PHONE.Q' | translate,
          value: tm.phone | cadrartPhone
        },
        {
          label: 'FIELD.ADDRESS.Q' | translate,
          value: tm.address | cadrartAddress,
          extend: true
        }
      ]"
        (cadrartEdit)="handleEditClick(tm)"
        (cadrartDelete)="handleDeleteClick(tm)"
      ></cadrart-data-card>
    }
  </div>
</div>
}

<ng-template #formTemplate>
  @if (entityFormGroup) {
    <form [esfsFormGroup]="entityFormGroup">
      <esfs-field name="firstName"></esfs-field>
      <esfs-field name="lastName"></esfs-field>
      <esfs-field name="address"></esfs-field>
      <esfs-field name="mail"></esfs-field>
      <esfs-field name="phone"></esfs-field>
      <esfs-field name="image"></esfs-field>
      <esfs-field name="password"></esfs-field>
    </form>
  }
</ng-template>
