@import '../../styles/functions';

$nav-color: getColor(primary);

.cadrart-header {
  padding: 0 $spacing-medium;
  box-shadow: inset -1px 0 0 1px $color-border, boxShadow();
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 38px;
  z-index: $z-index-header;

  @media print {
    box-shadow: none;
    padding: $spacing-medium;
    padding: 0;
    min-height: 0;
    line-height: 1;

    > * {
      display: none;
    }
  }

  &__logo {
    width: 100px;
    display: flex;
    align-items: center;
    margin-right: 1rem;

    @media print {
      display: block;
    }

    picture {
      display: contents;
    }

    img {
      width: 100%;
    }
  }

  &__actions {
    justify-content: flex-end;
    display: flex;
    padding: $spacing-small 0;
    flex-grow: 1;

    &__user {
      display: flex;
      align-items: center;
      margin-left: $spacing-medium;
      align-self: center;
      width: 30px;

      img {
        display: block;
        width: 30px;
        max-height: 30px;
        border-radius: 50%;
      }

      @media print {
        display: none;
      }
    }
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //left: 0;
    width: 100%;
    //top: 0;
    height: 100%;
    align-self: flex-end;
    position: relative;


    &:before, &:after {
      pointer-events: none;
      content: '';
      z-index: 5;
      position: absolute;
      height: 1px;
      width: 0;
      opacity: 0;
      background-color: $nav-color;
      transition: width 0.3s, opacity 0.3s, left .3s;
      top: anchor(--active-tab bottom);
      right: anchor(--active-tab right);
      left: anchor(--active-tab left);
      width: anchor-size(--active-tab width);
    }

    &:before {
      height: 15px;
      box-shadow: 0 0 13px rgba($nav-color, 0.5);
      border-radius: 50%;
      clip-path: polygon(-50% 15px, 0% 150%, 150% 150%, 150% 15px);
      top: calc(anchor(--active-tab bottom) - 15px);
    }

    &:hover {
      &:after , &:before {
        top: anchor(--hover-tab bottom);
        left: anchor(--hover-tab left);
        opacity: 1;
        width: anchor-size(--hover-tab width);
      }

      &:before {
        top: calc(anchor(--hover-tab bottom) - 15px);
      }
    }

    &.active {
      &:after , &:before{
        left: anchor(--active-tab left);
        width: anchor-size(--active-tab width);
      }
    }

    a {
      color: rgba($color-text-light, 0.5);
      text-decoration: none;
      display: block;
      padding: 0 $spacing-medium;
      transition: color 0.3s;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover, &.active:hover {
        anchor-name: --hover-tab;
      }

      &.active {
        color: $nav-color;
        anchor-name: --active-tab;
      }
    }
  }
}
