<header class="cadrart-header">
  <div class="cadrart-header__logo">
    <picture>
      <source srcset="logo_print.webp" media="print"/>
      <img src="logo.gif" alt="Cadr'art"/>
    </picture>
  </div>
  <ng-container>
    @if (service.navigation().length) {
      <div class="cadrart-header__nav" data-testid="settings-menu">
        @for (nav of service.navigation(); track nav.path) {
          <a [routerLink]="nav.path" routerLinkActive="active" tabindex="-1">{{ nav.label | translate }}</a>
        }
      </div>
    }
  </ng-container>
  @if (service.action()) {
    <div class="cadrart-header__actions">
      <cadrart-button
        [icon]="service.action()?.icon ?? null"
        [tag]="service.action()?.tag ?? null"
        [hotKey]="service.action()?.hotkey ?? null"
        [outline]="true"
        [tabIndex]="-1"
        (cadrartClick)="handleActionClick()">
        <span>{{ 'HEADER.' + (service.action()?.label ?? 'ADD') | translate }}</span>
      </cadrart-button>
    </div>
  }
  <cadrart-connected-user></cadrart-connected-user>
</header>
