.cadrart-articles {
  .cadrart-table__header__maxReduction {
    width: 100px;
  }

  .cadrart-table__header__combine {
    width: 100px;
  }

  .cadrart-table__body__maxSize {
    span.cadrart-icon {
      vertical-align: -0.22em;
    }
  }

  .cadrart-table__body__combine {
    text-align: center;
  }
}
