@import "../../styles/variables";
@import "../../styles/functions";

$nav-color: getColor(primary);

cadrart-footer {
  @media print {
    display: none;
  }
}

.cadrart-footer {
  position: relative;
  z-index: $z-index-footer;
  padding: $spacing-medium $spacing-medium $spacing-medium 85px;
  box-shadow: inset -1px 0 0 1px $color-border, boxShadow();
}
