@if (data) {
  <table class="cadrart-table">
    <thead>
      <tr>
        @for (key of keys; track $index) {
          <th [ngClass]="['cadrart-table__header__', key] | cadrartConcatPipe">
            <div class="cadrart-table__header__group">
              <span [innerHTML]="headerPrefix + '.HEADER.' + $any(key) | uppercase | translate"></span>
              <cadrart-icon name="arrow_drop_up"></cadrart-icon>
            </div>
          </th>
        }
        @if (deletable || editable || consultable) {
          <th class="cadrart-table__header__actions"></th>
        }
      </tr>
    </thead>
    <tbody>
      @for (entry of data; track identify($index, entry)) {
        <tr
          @existanceAnimation
          [ngClass]="getRowClasses(entry)"
          (cadrartClickOutside)="handleClickOutside(entry)"
          (click)="expandable && !alwaysExpanded && (!shouldShowExpanded || shouldShowExpanded(entry)) ? toggleExpanded(entry) : null">
          @for (key of keys; track $index) {
            <ng-container
              [ngTemplateOutlet]="getTemplateOutlet(key) || defaultContent"
              [ngTemplateOutletContext]="{ $implicit: entry, key: [key], expandable: expandable, alwaysExpanded: alwaysExpanded, isExpanded: isExpanded(entry) }"></ng-container>
          }
          @if (deletable || editable || consultable) {
            <td class="cadrart-table__row__actions" [rowSpan]="expandable && isExpanded(entry) ? 2 : 1">
              <cadrart-actions-group
                [deletable]="deletable"
                [editable]="editable"
                [consultable]="consultable"
                (cadrartDelete)="handleDeleteClick(entry)"
                (cadrartEdit)="handleEditClick(entry)"
                (cadrartConsult)="handleConsultClick(entry)">
              </cadrart-actions-group>
              <div overlay class="cadrart-table__delete-overlay">
                <div class="cadrart-table__delete-overlay__content">
                  <div class="cadrart-table__delete-overlay__content__title">
                    {{ 'ALERT.DELETE_CONFIRMATION.TITLE' | translate : { name: getItemName($any(entry)) } }}
                  </div>
                  <div class="cadrart-table__delete-overlay__content__actions">
                    <cadrart-button
                      [outline]="true"
                      icon="cancel"
                      color="neutral"
                      (cadrartClick)="handleDeleteCancelClick()">{{ 'ALERT.DELETE_CONFIRMATION.CANCEL' | translate }}</cadrart-button>
                    <cadrart-button
                      [outline]="true"
                      icon="delete"
                      color="danger"
                      (cadrartClick)="handleDeleteConfirmClick(entry)">{{ 'ALERT.DELETE_CONFIRMATION.CONFIRM' | translate }}</cadrart-button>
                  </div>
                </div>
              </div>
            </td>
          }
        </tr>
        @if (expandable && isExpanded(entry) && (!shouldShowExpanded || shouldShowExpanded(entry))) {
          <tr class="cadrart-table__expanded-row" @existanceAnimation [ngClass]="getRowClasses(entry)">
            <td class="cadrart-table__expanded-cell" [attr.colspan]="getColspan()">
              <ng-container
                [ngTemplateOutlet]="getExpandedTemplate()"
                [ngTemplateOutletContext]="{ $implicit: entry }">
              </ng-container>
            </td>
          </tr>
        }
      }
        </tbody>
      </table>
    }

    <ng-template #defaultContent let-entry let-key="key" let-expandable="expandable" let-alwaysExpanded="alwaysExpanded" let-isExpanded="isExpanded">
      <td [ngClass]="['cadrart-table__body__', key] | cadrartConcatPipe">{{ entry[key] }}</td>
    </ng-template>
