<div class="cadrart-extended-task" *ngIf="tasks | async as data">
  <cadrart-table
    [data]="data"
    [keys]="['client', 'actions']"
    headerPrefix="TASKS_LIST"
    [trackBy]="trackBy"
    [consultable]="false"
    [deletable]="false"
    [editable]="false"
    (cadrartConsult)="handleConsultClick($event)"
    (cadrartEdit)="handleEditClick($event)"
    (cadrartDelete)="handleDeleteClick($event)"
  >
    <td *cadrartTableValueFormatter="'client'; let entry">{{ entry.clientFirstName }} {{ entry.clientLastName }}</td>
    <td *cadrartTableValueFormatter="'actions'">
      <cadrart-button [iconOnly]="true" icon="block" color="secondary" [outline]="true"></cadrart-button>
      <cadrart-button [iconOnly]="true" icon="play_circle" color="info" [outline]="true"></cadrart-button>
    </td>
  </cadrart-table>
</div>
