@if (data$ | async; as data) {
  <div class="cadrart-formulas">
    <cadrart-table
      [data]="data"
      [keys]="['name', 'formula']"
      [trackBy]="identify"
      [getItemName]="getItemName"
      [consultable]="false"
      (cadrartEdit)="handleEditClick($event)"
      (cadrartDelete)="handleDeleteClick($event)"
      >
      <td *cadrartTableValueFormatter="'formula'; let entry">
        <cadrart-formula-tag [fomula]="entry.formula"></cadrart-formula-tag>
      </td>
    </cadrart-table>
  </div>
}

<ng-template #formTemplate>
  @if (entityFormGroup) {
    <form [esfsFormGroup]="entityFormGroup">
      <esfs-field name="name"></esfs-field>
      <ng-container formArrayName="formula">
        @for (formulaForm of getFormulaControl().controls; track formulaForm; let i = $index) {
          <form class="cadrart-formulas__form__formulas" [esfsFormGroup]="formulaForm">
            <esfs-field class="cadrart-formulas__form__formulas__start" name="start"></esfs-field>
            <esfs-field
              class="cadrart-formulas__form__formulas__operation"
              name="operation"
            ></esfs-field>
            <esfs-field class="cadrart-formulas__form__formulas__amount" name="amount"></esfs-field>
            <cadrart-button
              class="cadrart-formulas__form__formulas__remove"
              [disabled]="getFormulaControl().controls.length < 2"
              color="danger"
              icon="delete"
              [outline]="true"
              [iconOnly]="true"
              (click)="removeFormula(i)"
              >{{ 'FIELD.ACTION.REMOVE' | translate }}</cadrart-button
              >
            </form>
          }
        </ng-container>
        <cadrart-button (click)="addFormula()">{{ 'FIELD.ACTION.ADD' | translate }}</cadrart-button>
      </form>
    }
  </ng-template>
