<div class="cadrart-login">
  <cadrart-card [title]="'LOGIN.TITLE'" [image]="image()">
    <form class="cadrart-login__form" [esfsFormGroup]="loginForm">
      <esfs-field name="mail" (esfsBlur)="handleMailBlur()"></esfs-field>
      <esfs-field name="password"></esfs-field>
      <cadrart-button type="submit" (cadrartClick)="handleSubmit()">{{ 'LOGIN.SUBMIT' | translate }}</cadrart-button>
    </form>

    <div *ngIf="error()" class="cadrart-login__error">
      {{ error() ?? '' | translate }}
    </div>
  </cadrart-card>
</div>
